<div class="container">
  <h1>Folders</h1>
  <%= link_to 'New Folder', new_folder_path, class: 'btn btn-primary' %>

  <div class="folders">
    <% @folders.each do |folder| %>
      <div class="folder" onclick="window.location='<%= folder_path(folder) %>'">
        <img src="<%= asset_path('folder-icon.svg') %>" class="folder-icon" alt="Folder">
        <div class="folder-name"><%= folder.name %></div>
        <%= link_to 'Edit', edit_folder_path(folder), class: 'btn btn-sm btn-info' %> |
        <%= link_to 'Delete', folder_path(folder), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
