<h1>New Folder</h1>
<%= form_with model: @folder, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :ancestry, value: params[:parent_id] %>
  <div>
    <%= f.submit "Create Folder" %>
  </div>
<% end %>
